@{
    Layout = "_Layout";
    ViewBag.Title = "권한 없음";
}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
        </div>
        <div class="card-body">
            페이지를 볼 수 있는 권한이 없습니다.
        </div>
    </div>
</div>